:root {
	--acent-color: #2196f3;
	--logo-black-color: #000000;
	--h-text-color: #212121;
	--p-text-color: #757575;
	--white-text-color: #ffffff;
	--foot-tel-color: rgba(255, 255, 255, 0.6);
	--hero-btn-hoover: #188ce8;
}

body {
	font-family: Roboto, sans-serif;
	font-style: normal;
}

/* ------- HEADER ------- */
.top-logo,
.bottom-logo {
	color: var(--logo-black-color);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.top-nav-link {
	color: var(--h-text-color);
	text-decoration: none;
}
.top-nav-link:hover,
.top-nav-link:focus {
	color: var(--acent-color);
}

.top-mail,
.top-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--p-text-color);
	text-decoration: none;
}

.top-mail:hover,
.top-mail:focus {
	color: var(--acent-color);
}

.top-tel:hover,
.top-tel:focus {
	color: var(--acent-color);
}

.current {
	color: var(--acent-color);
}

.logo-blue {
	color: var(--acent-color);
}

.list {
	list-style: none;
}

/* ------- FOOTER ------- */
.bottom {
	background-color: rgb(181, 178, 178);
}
.bottom-logo {
	color: var(--white-text-color);
}
