:root {
	--acent-color: #2196f3;
	--logo-black-color: #000000;
	--h-text-color: #212121;
	--p-text-color: #757575;
	--white-text-color: #ffffff;
	--foot-tel-color: rgba(255, 255, 255, 0.6);
	--hero-btn-hoover: #188ce8;
}

body {
	font-family: Roboto, sans-serif;
	font-style: normal;
}

/* ------- HEADER ------- */
.top-logo,
.bottom-logo {
	color: var(--logo-black-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.top-nav-link {
	color: var(--h-text-color);
	text-decoration: none;
}
.top-nav-link:hover,
.top-nav-link:focus {
	color: var(--acent-color);
}

.top-mail,
.top-tel {
	color: var(--p-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.top-mail:hover,
.top-mail:focus,
.top-tel:hover,
.top-tel:focus {
	color: var(--acent-color);
}

.current {
	color: var(--acent-color);
}

.logo-blue {
	color: var(--acent-color);
}

.list {
	list-style: none;
}

/* ------- MAIN ------- */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.card-title {
}

.card-text {
}
/* ------- FOOTER ------- */
.bottom {
	background-color: rgb(181, 178, 178);
}
.bottom-logo {
	color: var(--white-text-color);
}

.bottom-adr,
.bottom-mail,
.bottom-tel {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.bottom-adr {
	color: var(--white-text-color);
}

.bottom-mail,
.bottom-tel {
	color: var(--foot-tel-color);
}

.bottom-adr:hover,
.bottom-adr:focus,
.bottom-mail:hover,
.bottom-mail:focus,
.bottom-tel:hover,
.bottom-tel:focus {
	color: var(--acent-color);
}
